.allNewsContainer{
    height: 100%;
    min-height: 100vh;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.allNewsContent{
    width: 57%;
    max-width: 57%;
    display: flex;
    flex-direction: column;
    margin: 150px 0;
}

.allNewsContent h1{
    color: var(--black);
    font-size: 48px;
    margin-bottom: 50px;
}

.newsArea{
    width: 100%;
    margin-bottom: 50px;
    border: 1px solid var(--span);
    padding: 20px;
    border-radius: 4px;
}

.newsArea h1{
    font-size: 28px;
    color: var(--black);
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
}

.newsArea span{
    color: var(--span);
}

.newsArea p{
    width: 100%;
    max-width: 100%;
    margin-top: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.newsArea button{
    background-color: var(--black);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    transition: 0.3s all ease-in-out;
}

.newsArea button:hover{
    transform: scale(1.05);
}

@media (max-width: 650px){
    .allNewsContent{
        width: 90%;
        max-width: 90%;
    }
    .allNewsContent h1{
        font-size: 32px;
    }
    .newsArea h1{
        font-size: 22px;
    }
    .newsArea span{
        font-size: 14px;
    }
    .newsArea p{
        font-size: 16px;
        margin-top: 20px;
    }
    .newsArea button{
        padding: 5px;
        font-size: 18px;
    }
}