.businessNewsContainer{
    height: 100vh;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.businessNewsContent{
    max-width: 1700px;
}

.businessNewsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.businessNewsHeader h1{
    font-size: 48px;
    color: var(--black);
}

.newsArea{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.news{
    width: 450px;
    border: 1px solid #dcdcdc;
    padding: 25px;
    transition: 0.3s all ease-in-out;
}

.news:hover{
    transform: scale(1.05);
    box-shadow: 8px 8px 5px 0px rgba(119,136,153,0.2);
}

.news h1{
    font-size: 32px;
    color: var(--black);
    margin-bottom: 10px;
}

.news span{
    color: var(--span);
}

.news p{
    color: var(--black);
    margin: 25px 0;
    font-size: 18px;
}

.news a, .btn a{
    background-color: var(--black);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 24px;
}

.btn{
    transition: 0.3s all ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}