.businessNewsContainer{
    height: 100vh;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.businessNewsContent{
    max-width: 1400px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.businessNewsHeader{
    max-width: 1400px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    gap: 20px;
    padding: 20px;
}

.businessNewsHeader h1{
    font-size: 48px;
    color: var(--black);
}

.newsArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    max-width: 1400px;
    width: 1440px;
}

.news{
    width: 450px;
    max-width: 450px;
    max-height: 500px;
    border: 1px solid #dcdcdc;
    padding: 25px;
    transition: 0.3s all ease-in-out;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.news:hover{
    transform: scale(1.05);
    box-shadow: 8px 8px 5px 0px rgba(119,136,153,0.2);
}

.news h1{
    font-size: 28px;
    color: var(--black);
    margin-bottom: 10px;
}

.news span{
    color: var(--span);
}

.news p{
    color: var(--black);
    margin: 25px 0;
    font-size: 18px;
    line-height: 1.5;
    height: calc(1.5 * 5);
    overflow: hidden;
}

.news button, .btn button{
    background-color: var(--black);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
}

.btn{
    transition: 0.3s all ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}

.noNews{
    display: flex;
    justify-content: center;
    align-items: center;
}

.noNews h1{
    font-size: 48px;
    color: var(--black);
}

@media (max-width: 1440px){
    .businessNewsContent, .businessNewsHeader{
        max-width: 100%;
        width: 100%;
    }
    .newsArea{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .news p{
        display: none;
    }
    .news button{
        margin-top: 20px;
    }
}

@media (max-width: 850px){
    .noNews h1{
        font-size: 36px;
    }
}

@media (max-width: 650px){
    .businessNewsHeader h1{
        font-size: 24px;
    }
    .newsArea{
        gap: 10px;
    }
    .news{
        width: 350px;
        max-width: 350px;
        padding: 10px;
    }
    .news h1{
        font-size: 18px;
    }
    .news span{
        font-size: 14px;
    }
    .btn button, .news button {
        font-size: 15px;
        padding: 5px;
    }
    .btn:hover{
        transform: scale(1.03);
    }
    .businessNewsHeader{
        margin-bottom: 5px;
    }
    .noNews h1{
        font-size: 28px;
        max-width: 90%;
        text-align: center;
    }
}
