.businessNewsContainer{
    height: 100vh;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.businessNewsContent{
    max-width: 1400px;
    width: 1440px;
    display: flex;
    flex-direction: column;
}

.businessNewsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    gap: 20px;
}

.businessNewsHeader h1{
    font-size: 48px;
    color: var(--black);
}

.newsArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    max-width: 1400px;
    width: 1440px;
}

.news{
    width: 450px;
    max-width: 450px;
    max-height: 500px;
    border: 1px solid #dcdcdc;
    padding: 25px;
    transition: 0.3s all ease-in-out;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.news:hover{
    transform: scale(1.05);
    box-shadow: 8px 8px 5px 0px rgba(119,136,153,0.2);
}

.news h1{
    font-size: 28px;
    color: var(--black);
    margin-bottom: 10px;
}

.news span{
    color: var(--span);
}

.news p{
    color: var(--black);
    margin: 25px 0;
    font-size: 18px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.news button, .btn button{
    background-color: var(--black);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
}

.btn{
    transition: 0.3s all ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}

.noNews h1{
    font-size: 48px;
    color: var(--black);
}