.firstScreenContainer{
    height: 100vh;
    width: 100%;
    background: var(--gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textLogo h1, span{
    color: var(--white);
}
.textLogo h1{
    font-size: 96px;
    border-bottom: 3px solid var(--white);
}

.textLogo span{
    margin-top: 20px;
    font-size: 36px;
}

.btnWpp{
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 100px;
    transition: 0.3s all ease-in-out;
}

.btnWpp a{
    padding-left: 10px;
    color: var(--textWpp);
    cursor: pointer;
}

.btnWpp:hover, .footerBtn:hover{
    transform: scale(1.05);
}

.footerBtn{
    position: relative;
    top: 250px;
    background-color: var(--white);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

@media (max-width: 1550px){
    .footerBtn{
        top: 150px;
    }
    .firstScreenContainer h1{
        font-size: 76px;
    }
    .firstScreenContainer span{
        font-size: 28px;
    }
    .btnWpp img{
        width: 40px;
        height: 40px;
    }
    .btnWpp a{
        font-size: 15px;
    }
}

@media(max-width: 950px){
    .footerBtn{
        top: 250px;
    }
    .firstScreenContainer h1{
        font-size: 62px;
    }
    .firstScreenContainer span{
        font-size: 24px;
    }
    .btnWpp{
        margin-top: 150px;
    }
}

@media(max-width: 700px){
    .firstScreenContainer h1{
        font-size: 48px;
    }
    .firstScreenContainer span{
        font-size: 20px;
    }
    .btnWpp{
        padding: 0 5px;
    }
    .btnWpp img{
        width: 36px;
        height: 36px;
    }
    .btnWpp a{
        font-size: 14px;
    }
}

@media (max-width: 550px){
    .textLogo h1{
        font-size: 34px;
    }
    .textLogo span{
        font-size: 20px;
    }
}