.footerContainer{
    background: var(--gradientFooter);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infosFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footerLinks{
    display: flex;
    gap: 20px;
}

.footerLinks img{
    width: 34px;
    height: 34px;
}