.headerContainer, .headerContainerScrolled{
    position: fixed;
    left: 20%;
    top: 20px;
    width: 60%;
    height: 7%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.headerContainer{
    background-color: var(--white);
}

.headerContainerScrolled{
    background: var(--gradientHeader);
}

.logoHeader img{
    width: 48px;
    height: 48px;
    border-radius: 50px;
}

.navHeader ul{
    display: flex;
    gap: 20px;
}
.navHeader li{
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.navHeader li:hover{
    transform: scale(1.05);
}

.navHeader a{
    color: var(--black);
}

@media (max-width: 1550px){
    .headerContainer, .headerContainerScrolled{
        height: 9%;
        width: 63%;
    }
    .navHeader li{
        font-size: 18px;
    }
}