.newsContainer{
    height: 100%;
    min-height: 100vh;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsContent{
    width: 57%;
    max-width: 57%;
    margin: 150px 0;
}

.newsContent h1{
    font-size: 36px;
    color: var(--black);
    margin-bottom: 10px;
}

.newsContent span{
    color: var(--span);
}

.newsContent p{
    width: 100%;
    max-width: 100%;
    margin-top: 40px;
    white-space: pre-wrap; /*O texto é exibido preservando as quebras de linha*/
    word-wrap: break-word; /*Se a palavra não couber naquela linha ela é quebrada e continua em baixo*/
}

.btn{
    background-color: var(--black);
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 30px;
    transition: 0.3s all ease-in-out;
}

.btn button{
    background-color: transparent;
    border: none;
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}

.btn:hover{
    transform: scale(1.05);
}

@media (max-width: 1560px){
    .btn{
        width: 40%;
    }
}

@media (max-width: 900px){
    .newsContent{
        width: 100%;
        max-width: 100%;
        padding: 0 50px;
    }
    .btn{
        width: 50%;
    }
}

@media (max-width: 500px){
    .newsContent{
        padding: 0 20px;
    }
    .newsContent h1{
        font-size: 24px;
    }
    .newsContent span{
        font-size: 14px;
    }
    .newsContent p{
        font-size: 16px;
    }
    .btn{
        width: 80%;
    }
}